:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-dark: #535bf2;
}

.VPNavBarTitle .logo {
  height: 32px;
  width: auto;
}

.VPHomeHero .image-src {
  max-width: 200px;
  max-height: 200px;
}
